@charset "utf-8";
/* CSS Document */
@import url("base.css");
body {
	background-color:#f5f5f5;
	color:#333;
}
button{
border-style: none;
}
.wrapper {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 6px;
	padding-bottom: 6px;
	overflow: hidden;
}
.header {
	background: url(../images/topbar_bg.gif) repeat;
	height: 30px;
}
.header span {
	float: right;
	line-height:30px;
}
.header .userMenu.fRight li {
	float: right;
	line-height:30px;
	padding-left:5px;
	padding-right:5px;
}
.header .userMenu {
	width: 180px;
}
.auto960 {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}
.userMenu li a {
	color: #679c0a;
}
.login {
	height:300px;
}
.bor {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	background: #FFF;
	border: 1px solid #dfdddd;
	border-radius:10px;
}
.login .main h3 {
	color: #FFF;
	background: url(../images/bg_button.png) no-repeat 0px -265px;
	height: 44px;
	width: 404px;
	line-height: 30px;
	padding-left: 45px;
	margin-top: 20px;
	margin-left: 35px;
}
.login .main h3 span {
}
.login .main h3 em {
	margin-left: 95px;
}
.login .main h3 em a {
	color:#FFF;
}
.login .main h3 em a:hover {
	text-decoration:none;
}
.login .main li {
	height:25px;
	line-height:25px;
	margin-bottom:16px;
}
.login .main span {
	display:block;
	float:left;
	text-align:right;
	width:85px;
}

.text{
	background:url(../images/bg_button.png) repeat-x 0 0;
	width:224px;
	height:19px!important;
	height:22px;
	line-height: 22px;
	float: left;
	font-size: 12px;
	margin-right: 5px;
	padding-right: 3px;
	padding-left: 3px;
	border: 1px solid #d5d8d1;
	padding-top: 3px!important;
	padding-top: 0px;
}
.text_s {
	border-color: #9bcd81;
	background:#f3ffe6;
}
.login_from{
	width:210px;
	background: url(../images/bg_button.png) no-repeat 0px -446px;
	padding-left:25px;
}
.login_from2{
	width:210px;
	background: url(../images/bg_button.png) no-repeat 0px -473px;
	padding-left:25px;
}
.login_from3{
	width:210px;
}
.main {
	width: 440px;
}
.login.bor .main.fLeft form ul {
	margin-top: 5px;
}
.button2 {
	background:url(../images/bg_button.png) no-repeat 0px -359px;
	color:#FFFFFF;
	width:171px;
	height: 38px;
	margin-left: 37px;
	font-weight: bold;
	font-size: 14px;
	cursor:pointer;
}
.login_sidebar {
	height: 146px;
	width: 300px;
	margin-right: 98px;
	margin-top: 60px;
	background: url(../images/pe_bg.jpg) no-repeat left;
	display: inline;
}
.login_sidebar p {
	margin-left: 108px;
	margin-top: 15px;
	line-height: 20px;
}
.login_sidebar p span {
	font-weight: bold;
	color: #000;
	float: left;
}
.login_sidebar a:hover{
	text-decoration:none;
}
.signUp {
	background: url(../images/bg_button.png) no-repeat 0 -321px;
	height: 24px;
	width: 52px;
	display:block;
	line-height:24px;
	font-weight: bold;
	color: #FFF;
	font-size: 12px;
	margin-left: 110px;
	margin-top: 16px;
	cursor:pointer;
}
.footer {
	height:36px;
	line-height:36px;
	margin-top: 7px;
}
.footer.bor span {
	float: right;
}
.footer.bor span a {
	float: left;
}
.mL10 {
	margin-left:10px;
	display: inline;
}
.mR10 {
	margin-right:10px;
	display: inline;

}
.tip2 {
	margin-left: 68px;
	margin-top: 29px;
	margin-bottom: 20px;
	background: url(../images/bg_button.png) no-repeat 0px -115px;
	height: 54px;
	width: 537px;
}
.tip3 {
	margin-left: 68px;
	margin-top: 29px;
	margin-bottom: 20px;
	background: url(../images/bg_button.png) no-repeat 0px -188px;
	height: 54px;
	width: 537px;
}
.success {
	margin-left: 77px;
	background: url(../images/correct.jpg) no-repeat;
	padding-left: 70px;
	line-height: 20px;
	margin-bottom: 32px;
}
.success a {
	color: #7eb61a;
}
.login .main form ul li a {
	color: #679c0a;
}


/* 鐧诲綍box
-------------------------------------------------------------------*/
.red, .red a:link, .red a:visited, a.red:link, a.red:visited {
color:#FF0000;
text-decoration:none;
}
#login {
	background:#fff;
	padding-bottom: 25px;
}
.tip1 {
	float:left;
	margin-left: 68px;
	margin-top: 29px;
	margin-bottom: 20px;	
	background: url(../images/bg_button.png) no-repeat 0px -42px;
	height: 54px;
	width: 537px;
}
.stip1 {
	margin-left: 68px;
	margin-top: 29px;
	margin-bottom: 20px;
	background: url(../images/bg_button.png) no-repeat -185px -312px;
	height: 54px;
	width: 537px;
}
.stip2 {
	margin-left: 68px;
	margin-top: 29px;
	margin-bottom: 20px;
	background: url(../images/bg_button.png) no-repeat -185px -378px;
	height: 54px;
	width: 537px;
}
#login .ocation {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ccc;
	margin-bottom: 10px;
}
#login #regnew1{	width:650px;
	clear: both;
	padding: 10px;
}

#login .theme li {
	margin-bottom: 20px;
	line-height: 20px;
	overflow:hidden;
	clear:both;
}
#login .theme span{
	color: #000;
	width: 130px;
	display: block;
	float: left;
	text-align: right;
	overflow:hidden;
}
#login .theme .lform{
	float:right;
	width:720px;
	}
#login .theme .lform label{
	float:left;
	width:80px;
	margin-bottom:5px;
	}
#login .theme .lform .np{
	margin:0 4px;
	}
#login .theme .lform1{
	float:left;
	width:570px;
	}
#login .theme .lform1 label{
	float:left;
	width:80px;
	margin-bottom:5px;
	}
#login .theme .lform1 .np{
	margin:0 4px;
	*margin:0 0 0 -1px;
	_margin:0;
	}
#login .useNew .signUp {
	text-align: right;
	font-weight: bold;
	margin-top: 30px;
}
.contract {
	height:125px;
	text-align: left;
	overflow-x: auto;
	overflow-y: auto;
	border: 1px solid #cccccc;
	color: #000000;
	font-size: 12px;
	line-height: 20px;
	background: #fafafa;
	margin:10px 0 0 70px;
	padding:5px;
	
}
.buttonGreen142 {
	background:url(../images/bg_button.png) no-repeat scroll 0px -405px;
	color:#FFFFFF;
	font-size:14px;
	height:38px;
	line-height:38px;
	width:116px;
	font-weight: bold;
}
.clear {
	clear: both;
}
.mL68 {
	margin-left: 68px;
}
.green {
	color: #679c0a;
}
.w200{
	width:200px;
}
/*
date:02-02
*/
.vermenu{
	background:#FFFFFF none repeat scroll 0 0;
	border:1px solid #EEEEEE;
	position:absolute;
}



/*login 2*/
.clearfix:after {
	DISPLAY: block; HEIGHT: 0px; CLEAR: both; CONTENT: '\0020'
}
.clearfix {
	
}
.c {
	LINE-HEIGHT: 0; CLEAR: both; FONT-SIZE: 0px; OVERFLOW: hidden
}
.f0 {
	LINE-HEIGHT: 0; FONT-SIZE: 0px; OVERFLOW: hidden
}
.bdLogin {
	BACKGROUND-COLOR: #f6f8ef
}
#header {
	MARGIN:0px auto 20px auto; WIDTH: 900px; HEIGHT:80px;
}
#header H1 {
	FLOAT: left; HEIGHT:80px; font-size:12px;
}
#header H1 SPAN.cplogo {
	 DISPLAY: inline-block; FLOAT: left; HEIGHT:80px
}
#header H1 SPAN.img {
	TEXT-ALIGN: center;  DISPLAY: table-cell; HEIGHT: 52px; VERTICAL-ALIGN: middle; float:left
}
#header H1 SPAN.desc {
	DISPLAY: inline-block; FONT: 14px/20px "Microsoft Yahei"; FLOAT: left; COLOR: #333333; MARGIN-LEFT: 5px; PADDING-TOP: 22px
}
.toelse {
	TEXT-ALIGN: right; WIDTH: 200px; height:55px; FONT: 12px/20px "simsun"; FLOAT: right; PADDING-TOP: 20px
}
.toelse A {
	MARGIN: 0px 4px
}
.contBg {
	BACKGROUND: url(../images/bgsmile.png) no-repeat center top; margin-TOP: 29px
}
.logCont {
	MARGIN: 0px auto; WIDTH: 900px; HEIGHT: auto
}
.logCont .bgTop {
	BACKGROUND: url(../images/bglinex.png) no-repeat 0px 0px; HEIGHT: 7px
}
.logCont .bgBot {
	BACKGROUND: url(../images/bglinex.png) no-repeat 0px 0px; HEIGHT: 7px
}
.logCont .bgBot {
	BACKGROUND-POSITION: 0px -9px
}
.logCont .bgMid {
	BACKGROUND: url(../images/bglinex.png) repeat-y -905px 0px
}
.logLeft {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 1px; WIDTH: 620px; PADDING-RIGHT: 1px; FLOAT: left; PADDING-TOP: 0px
}
.logRight {
	WIDTH: 270px; FLOAT: right
}
.logForm {
	POSITION: relative; PADDING-BOTTOM: 45px; MARGIN: 0px auto; PADDING-LEFT: 45px; WIDTH: 540px; PADDING-RIGHT: 0px; PADDING-TOP: 45px
}
SPAN.tipsInfo {
	POSITION: absolute; DISPLAY: inline-block; FONT: 12px/32px "simsun"; HEIGHT: 32px; TOP: 20px; LEFT: 113px
}
SPAN.error {
	POSITION: absolute; DISPLAY: inline-block; FONT: 12px/32px "simsun"; HEIGHT: 32px; TOP: 20px; LEFT: 113px
}
SPAN.success {
	POSITION: absolute; DISPLAY: inline-block; FONT: 12px/32px "simsun"; HEIGHT: 32px; TOP: 20px; LEFT: 113px
}
SPAN.error {
	PADDING-LEFT: 25px; BACKGROUND: url(../images/bgtxt.png) no-repeat -232px -133px; COLOR: #eb6100
}
SPAN.success {
	PADDING-LEFT: 25px; BACKGROUND: url(../images/bgtxt.png) no-repeat -232px -133px; COLOR: #eb6100
}
SPAN.success {
	BACKGROUND-POSITION: -232px -171px
}
.bandCont SPAN.tipsInfo {
	TOP: -16px; LEFT: 70px
}
TABLE.loginTab SPAN.tipsInfo {
	POSITION: static
}
TABLE.loginTab {
	BORDER-SPACING: 0; WIDTH: 100%; BORDER-COLLAPSE: collapse; text-align:left
}
TABLE.loginTab TH {
	TEXT-ALIGN: right; WIDTH: 70px; FONT-SIZE: 14px; FONT-WEIGHT: normal
}
TABLE.loginTab TH {
	PADDING-BOTTOM: 8px; LINE-HEIGHT: 32px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 8px
}
TABLE.loginTab TD {
	PADDING-BOTTOM: 8px; LINE-HEIGHT: 32px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 8px
}
TABLE.loginTab .nextAuto { font-size:12px}
TABLE.loginTab .nextAuto INPUT {
	MARGIN-TOP: -1px; VERTICAL-ALIGN: middle; MARGIN-RIGHT: 5px; _margin-top: -4px
}
TABLE.loginTab .nextAuto IMG {
	MARGIN-TOP: -1px; VERTICAL-ALIGN: middle; MARGIN-RIGHT: 5px; _margin-top: -4px
}
TABLE.loginTab .nextAuto IMG.testCode {
	BORDER-BOTTOM: #a4ba30 1px solid; BORDER-LEFT: #a4ba30 1px solid; BORDER-TOP: #a4ba30 1px solid; BORDER-RIGHT: #a4ba30 1px solid
}
.txtBg {
	WIDTH: 260px; FLOAT: left; HEIGHT: 50px; MARGIN-RIGHT: 8px; _margin-right: 2px; _padding-bottom: 2px
}
INPUT.txtLogin {
	 LINE-HEIGHT: 25px;  WIDTH: 255px;  BACKGROUND: url(../images/bgtxt.png) no-repeat 0px 0px; HEIGHT: 32px; border:none; padding-left:5px;
}
INPUT.txtLogin_on {
	  BORDER: 0px; padding:2px 6px;LINE-HEIGHT: 25px; WIDTH: 250px;  BACKGROUND: url(../images/bgtxt.png) no-repeat; HEIGHT: 30px; COLOR: #999999; FONT-SIZE: 12px; VERTICAL-ALIGN: middle;    _height: 30px; _padding:2px 6px; _margin:5px auto;
}
INPUT.txtLogin_on {
	BACKGROUND-POSITION: 0px -34px
}
INPUT.btn_log {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; WIDTH: 90px; BACKGROUND: url(../images/bgtxt.png) no-repeat 0px -68px; HEIGHT: 34px; VERTICAL-ALIGN: middle; BORDER-TOP: 0px; CURSOR: pointer; MARGIN-RIGHT: 10px; BORDER-RIGHT: 0px
}
INPUT.btnOn_log {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; WIDTH: 90px; BACKGROUND: url(../images/bgtxt.png) no-repeat 0px -68px; HEIGHT: 34px; VERTICAL-ALIGN: middle; BORDER-TOP: 0px; CURSOR: pointer; MARGIN-RIGHT: 10px; BORDER-RIGHT: 0px
}
INPUT.btn_band {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; WIDTH: 90px; BACKGROUND: url(../images/bgtxt.png) no-repeat 0px -68px; HEIGHT: 34px; VERTICAL-ALIGN: middle; BORDER-TOP: 0px; CURSOR: pointer; MARGIN-RIGHT: 10px; BORDER-RIGHT: 0px
}
INPUT.btnOn_band {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; WIDTH: 90px; BACKGROUND: url(../images/bgtxt.png) no-repeat 0px -68px; HEIGHT: 34px; VERTICAL-ALIGN: middle; BORDER-TOP: 0px; CURSOR: pointer; MARGIN-RIGHT: 10px; BORDER-RIGHT: 0px
}
INPUT.btnOn_log {
	BACKGROUND-POSITION: -92px -68px
}
INPUT.btn_band {
	WIDTH: 120px; BACKGROUND-POSITION: 0px -222px
}
INPUT.btnOn_band {
	WIDTH: 120px; BACKGROUND-POSITION: 0px -222px
}
INPUT.btnOn_band {
	BACKGROUND-POSITION: -122px -222px
}
.bandCont {
	POSITION: relative; PADDING-TOP: 10px
}
.thirdLogin {
	PADDING-BOTTOM: 10px; BACKGROUND-COLOR: #f8f8f8; PADDING-LEFT: 40px; PADDING-RIGHT: 20px; BORDER-TOP: #e6e6e6 1px solid; PADDING-TOP: 17px; text-align:center
}
.bandTips {
	PADDING-BOTTOM: 10px; BACKGROUND-COLOR: #f8f8f8; PADDING-LEFT: 40px; PADDING-RIGHT: 20px; BORDER-TOP: #e6e6e6 1px solid; PADDING-TOP: 17px
}
.bandTips {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 91px; PADDING-RIGHT: 20px; PADDING-TOP: 17px
}
.thirdLogin SPAN {
	DISPLAY: inline-block; VERTICAL-ALIGN: middle
}
.thirdLogin A {
	DISPLAY: inline-block; VERTICAL-ALIGN: middle
}
.thirdLogin A {
	LINE-HEIGHT: 16px; PADDING-LEFT: 20px; BACKGROUND: url(../images/bgtxt.png) no-repeat 2px -110px; HEIGHT: 16px; OVERFLOW: hidden; MARGIN-RIGHT: 6px
}
.thirdLogin A.baidu {
	BACKGROUND-POSITION: 2px -110px
}
.thirdLogin A.pay {
	BACKGROUND-POSITION: -73px -110px
}
.thirdLogin A.happy {
	BACKGROUND-POSITION: -147px -110px
}
.thirdLogin A.qq {
	BACKGROUND-POSITION: 2px -264px
}
.thirdLogin A.weibo {
	BACKGROUND-POSITION: -73px -264px
}
.thirdLogin A.renren {
	BACKGROUND-POSITION: -147px -264px
}
.noqiyi {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 20px
}
.noqiyi P {
	TEXT-ALIGN: center; LINE-HEIGHT: 50px
}
.noqiyi P.toReg {
	PADDING-BOTTOM: 20px
}
.noqiyi P.toIphone {
	TEXT-ALIGN: left; PADDING-LEFT: 10px
}
A.regMail {
	TEXT-ALIGN: center; LINE-HEIGHT: 28px; MARGIN: 0px 5px; WIDTH: 70px; DISPLAY: inline-block; BACKGROUND: url(../images/bgtxt.png) no-repeat -190px -68px; HEIGHT: 28px; COLOR: #000000; TEXT-DECORATION: none
}
A.regMail:hover {
	COLOR: #4a7f07; TEXT-DECORATION: none
}
UL.descList {
	PADDING-LEFT: 20px
}
UL.descList LI {
	LINE-HEIGHT: 24px; PADDING-LEFT: 6px; BACKGROUND: url(../images/bgtxt.png) no-repeat -258px -103px; HEIGHT: 24px; OVERFLOW: hidden
}
.productsQy {
	MARGIN-TOP: -20px; WIDTH: 248px; HEIGHT: 217px; MARGIN-LEFT: -5px; OVERFLOW: hidden
}
UL.tagsList {
	PADDING-BOTTOM: 20px; PADDING-LEFT: 27px; PADDING-RIGHT: 0px; HEIGHT: 43px; PADDING-TOP: 0px
}
UL.tagsList LI {
	TEXT-ALIGN: center; PADDING-BOTTOM: 5px; WIDTH: 161px; FONT: 14px/38px "simsun"; BACKGROUND: url(../images/bgtxt.png) no-repeat 0px -132px; FLOAT: left; HEIGHT: 38px; OVERFLOW: hidden; MARGIN-RIGHT: 10px
}
UL.tagsList LI.cur {
	BACKGROUND-POSITION: 0px -177px; COLOR: #ffffff; FONT-WEIGHT: bold
}
.bandDesc {
	LINE-HEIGHT: 24px; PADDING-TOP: 20px
}
.bandDesc SPAN.user {
	COLOR: #4a7f07; FONT-WEIGHT: bold
}
.bandDesc SPAN.youcan {
	DISPLAY: block; FONT-WEIGHT: bold
}
.footer {
	TEXT-ALIGN: center; PADDING-BOTTOM: 20px; MARGIN: 0px auto; PADDING-LEFT: 0px; WIDTH: 900px; PADDING-RIGHT: 0px; FONT: 12px/2 Arial, simsun; PADDING-TOP: 20px
}
.footer A {
	MARGIN: 0px 3px; COLOR: #6b6b6b; TEXT-DECORATION: none
}
.footer A:hover {
	COLOR: #4c7d08; TEXT-DECORATION: underline
}
.footer SPAN.fGray {
	COLOR: #d0d0d0
}
A.ac000 {
	COLOR: #000000; TEXT-DECORATION: none; font-size:12px; color:448000
}
A.ac000:hover {
	COLOR: #339900; TEXT-DECORATION: underline
}
.mailType {
	BORDER-BOTTOM: #c3c3c3 1px solid; BORDER-LEFT: #c3c3c3 1px solid; WIDTH: 258px; FONT: 12px/25px Tahoma; BACKGROUND: #ffffff; BORDER-TOP: #c3c3c3 1px solid; BORDER-RIGHT: #c3c3c3 1px solid
}
.mailType A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; DISPLAY: block; HEIGHT: 23px; COLOR: #7d7d7d; OVERFLOW: hidden; PADDING-TOP: 0px
}
.mailType SPAN {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; DISPLAY: block; HEIGHT: 23px; COLOR: #7d7d7d; OVERFLOW: hidden; PADDING-TOP: 0px
}
.mailType .selected {
	BORDER-BOTTOM: #e8e8e8 1px solid; BORDER-LEFT: #e8e8e8 0px solid; LINE-HEIGHT: 23px; BACKGROUND: #f1f1f1; COLOR: #000000; BORDER-TOP: #e8e8e8 1px solid; BORDER-RIGHT: #e8e8e8 0px solid
}
.mailType A:hover {
	BORDER-BOTTOM: #e8e8e8 1px solid; BORDER-LEFT: #e8e8e8 0px solid; LINE-HEIGHT: 23px; BACKGROUND: #f1f1f1; COLOR: #000 !important; BORDER-TOP: #e8e8e8 1px solid; BORDER-RIGHT: #e8e8e8 0px solid; TEXT-DECORATION: none
}


/*注册*/

.lm-ple {
float: right;
height:55px;
line-height:55px;
vertical-align: middle;
color: black;
font-family: "微软雅黑";
font-size: 14px;
margin:30px 70px 0 0 ;
}
.lm-ple span {
padding-right: 10px;
line-height: 62px;
vertical-align: middle;
height: 62px;
display: inline-block;
}
a.submit_btn {
background: url(../images/dengluBtn.png) no-repeat;
width: 87px;
height: 29px;
display: inline-block;
line-height: 29px;
vertical-align: middle;
color: white;
text-align: center;
text-decoration: none;
}
a.submit_btn:hover {
background-position: 0 -45px;
width: 87px;
height: 29px;
display: inline-block;
line-height: 29px;
vertical-align: middle;
color: white;
text-align: center;
}

.con_right {
float: right;
width: 240px;
text-align: left;
background: url(../images/left_t.png) no-repeat 0 20px;
min-height: 290px;
_height: 290px;
padding-left: 20px;
}

.con_right h3.sub {
font-size: 12px;
font-weight: bold;
color: gray;
}
.list2 {
margin-top: 15px;
}
.list2 li {
height: 19px;
line-height: 19px;
margin-bottom: 9px;
}
.list2 li em {
float: left;
width: 19px;
height: 19px;
background: url(../images/icons.png) no-repeat -29px -80px;
margin-right: 10px;
}